<div class="order-form">
  <%= simple_form_for @order do |f| %> 
    <%= f.input :coupon %>
    <%= f.input :shipping %>
    <div class="order-item">
      <h3>Order item</h3>
      <%= render 'order_items/order_item_fields', f: f%>
    </div>
  <% end %>
</div>