<div class="card-review card">
  <h5 class="orange-text">
    <%= review.star.score %>
    <i class="material-icons">star_rate</i>
  </h5>
  <p><%= review.body %></p>
  <i>Create by: <%= review.user.profile.name %></i>
</div>